<link rel="stylesheet" href="/css/admin/admin.css">


<section id="sidebar">
    <div class="white-label">
    </div>
    <div id="sidebar-nav">
        <ul>
            <li><a href="/inicio"><i class="fa fa-desktop"></i>Brand Burger</a></li>
            <li><a href="/adm_pedidos"><i class="fa fa-usd"></i>Pedidos</a></li>
            <li><a href="/adm_users"><i class="fa fa-pencil-square-o"></i>Usuarios</a></li>
            <li><a href="/crear_hg"><i class="fa fa-line-chart"></i>Hamburguesas</a></li>
            <li><a href="/crear_sd"><i class="fa fa-line-chart"></i>Sandwich</a></li>
            <li><a href="/adm_adicionales"><i class="fa fa-comments-o"></i>Adicionales</a></li>
            <li><a href="/adm_ensaladas"><i class="fa fa-line-chart"></i>Ensaladas</a></li>
            <li><a href="/adm_gaseosas"><i class="fa fa-line-chart"></i>Gaseosas</a></li>
            <li><a href="/adm_jugos"><i class="fa fa-line-chart"></i>Naturales</a></li>
            <li><a href="/login"><i class="fa fa-line-chart"></i>Cerrar Sesión</a></li>
        </ul>
    </div>
</section>
