<link rel="stylesheet" href="/css/navbar.css">
<div class="main-navbar">
    <div class="menu-btn">
            <i class="fas fa-bars fa-2x"></i>
        </div>
        <div class="container-nav">
            <nav class="nav-main">
                <ul class="nav-menu show">
                    <li>
                        <a href="/adm_pedidos">
                            <i class="fas fa-hamburger hamburger" class="link"></i>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="/inicio">Inicio</a>
                    </li>
                    <li>
                        <a class="link" href="/hg">Hamburguesas</a>
                    </li>
                    <li>
                        <a class="link" href="/sandwich">Sandwich</a>
                    </li>
                    <li>
                        <a class="link" href="/jugos">Naturales</a>
                    </li>
                    <li>
                        <a class="link" href="/gaseosas">Gaseosas</a>
                    </li>
                    <li>
                        <a class="link" href="/adicionales">Adicionales</a>
                    </li>
                    <li>
                        <a class="link" href="/ensaladas">Ensaladas</a>
                    </li>
                    <li>
                        <a class="link" href="/perfil">Perfil</a>
                    </li>
                    <li>
                        <a href="/carrito" class="link">
                            <i class="fas fa-cart-arrow-down carro"></i>
                        </a>
                    </li>
                </ul>
                
            </nav>
        </div>
</div>