<link rel="stylesheet" href="/css/inicio.css">

<div class="main-inicio">

    <div class="inicio">

        <div class="title-inicio">
            <h1>Brand Burger</h1>
        </div>

        <div class="texto-inicio">
            <p>El dinero no puede comprar la felicidad pero si una de nuestras <span class="hamburguesa">Hamburguesas</span>
            </p>
        </div>

        <div class="flecha-inicio">
            <i class="fas fa-arrow-down"></i>
        </div>

        <div class="form-correo">
            <input type="email" name="" class="correo" id="" placeholder="Ingresa tu correo electronico para recibir ofertas">
        </div>

        <div class="button-inicio">
            <button type="submit">Enviar</button>
        </div>
    </div>

</div>


<link rel="stylesheet" href="/css/footer.css">
        <footer class="footer">
            <div class="contenido_footer">
                <p class="footer__items">&copy; Brand <span>Code</span> Todos los derechos reservados</p>
                <p class="footer__items"></p>
                <div class="redes">
                    <h2 class="footer__items">Siguenos</h2>
                    <div class="icons">
                        <a href="https://www.facebook.com/BrandJS" target="_blank"><i class="fab fa-facebook" id="fb"></i></a>
                        <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp" id="wp"></i></a>
                        <a href="https://www.instagram.com/_brandcode/" target="_blank"><i class="fab fa-instagram" id="ig"></i></a>
                        
                    </div>
            </div>
            </div>
        </footer>